@import url(font.css);
#wrap {
    position: relative;
    overflow: hidden;
}
.horizontal {
    display: flex;
    width: 100%;
    height: 100vh;
    transform: translateX(0);
}
.horizontal section {
    height: 100vh;
    flex-shrink: 0;
}

header {
    background-color: rgb(193, 205, 196);
    position: fixed;
    width: 100%; 
    height: 80px;
    top: 120px;
}
main {
    margin: 0 auto;
}

/* intro */
section.intro div.left div.desc,
section.intro div.right {
    background-color: #f2f2f2;
    padding: 20px 30px;
}

/* intro-left */
section.intro {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    padding: 0 50px;
    width: 100%;
    margin-right: 200px;
}
section.intro div.left {
    position: relative;
    height: 100vh;
    width: 500px;
}
section.intro div.left figure {
    background-color: #D9D9D9;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    top: 60px;
    background: url(../img/1.jpg) no-repeat top center/cover;
    position: absolute;
    z-index: 11;
}
section.intro div.left div.name {
    position: absolute;
    top: 300px;
    width: 400px;
    height: 400px;
}
section.intro div.left div.name div.namehighlight {
    position: relative;
    margin-bottom: 30px;
}
section.intro div.left div.name h1.name {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    font-size: 46px;
    color: #000;
    position: relative;
    z-index: 5;
}
section.intro div.left div.name span {
    position: absolute;
    background-color: #A3B1A7;
    width: 500px; height: 30px;
    left: -20px; bottom: 0;
    z-index: 1;
}
section.intro div.left div.desc {
    position: absolute;
    bottom: 10%;
    width: 400px;
    height: auto;
}

/* intro-right */
section.intro div.right {
    height: 290px;
    width: 550px;
    position: relative;
    bottom: 10%; right: 10%;
}
section.intro div.right div.rightleft,
section.intro div.right div.rightright {
    position: absolute;
    height: inherit;
}
section.intro div.right div.rightleft {
    left: 30px;
}
section.intro div.right div.rightright {
    right: 60px;
}
section.intro div.right p {
    line-height: 1.6;
    margin-bottom: 10px;
}
section.intro div.right p > span {
    color: #000;
    font-weight: 600;
    margin-right: 20px;
    font-size: 15px;
}
section.intro div.right ul {
    margin-bottom: 10px;
}
section.intro div.right ul li {
    line-height: 1.4;
}
section.intro div.rightleft div.down {
    position: absolute;
    bottom: 10px;
}

/* skills */
section.skills div.skills_container {
    position: relative;
    width: 900px;
}
section.skills h2 {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    font-size: 46px;
    color: #fff;
    position: absolute;
    top: 138px; left: 0;
    z-index: 5;
}
section.skills h3 {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    color: #000;
    font-size: 24px;
    margin-bottom: 15px;
}
section.skills div.skills_area {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 900px;
    position: absolute;
    top: 250px; left: 50%;
    transform: translateX(-50%);
}
section.skills div.skillbox {
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
section.skills div.skillbox:nth-child(n+3) {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
section.skills div.quarter {
    width: 45%;
}
section.skills div.half {
    width: 100%;
    justify-content: space-between;
}
section.skills div.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section.skills div.img_area {
    text-align: center;
    position: relative;
}
section.skills img {
    height: 50px;
    margin: 10px;
}
section.skills div.img_area p.skill_name {
    background-color: rgba(90, 118, 99, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    border-radius: 10px;
    opacity: 0;
    transition: .2s all;
    color: #fff;
}
section.skills div.img_area:hover p.skill_name {
    opacity: 1;
}

/* webdev */
section.webdev {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    left: 600px;
}
.vertical-wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 250px;
}
.vertical-contents {
    position: absolute;
    width: 100%;
    transform: translateY(0);
}
.webdev {
    width: 100%;
    position: relative;
}
section.webdev h2 {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    font-size: 46px;
    color: #ffffff;
    position: absolute;
    top: 138px; left: 0;
    z-index: 11;
}
section.webdev div.webdev {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
section.webdev div.webdev > span {
    width: 100px;
}
section.webdev div.webdev > div.right {
    width: calc(100% - 200px);
}
section.webdev div.webdev div.right div.screenshots {
    width: inherit
}
section.webdev div.webdev div.right div.screenshots img {
    width: inherit
}