@import url(font.css);
#wrap {
    height: 100vh;
}
.primary {
    fill: #80b1e4; 
}
.secondary {
    fill: #164969; 
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background: white;
    z-index: 1000;
}
header {
    background-color: #80a8d2;
    position: fixed;
    width: 100%; 
    height: 80px;
    top: 120px;
}
div.horizontal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
div.horizontal_wrapper > div.horizontal_content {
    display: flex;
    position: absolute;
    height: 100%;
    will-change: transform;
}
section {
    min-width: 1300px;
    width: 100vw;
    max-width: 1500px;
    min-height: 900px;
    height: 95vh;
}
.scroll-spacer {
    height: 400vh;
    width: 1px;
    opacity: 0;
    pointer-events: none;
}
.progress-bar {
    position: fixed;
    top: 115px;
    left: 0;
    width: 0%;
    height: 5px;
    background: #4e7aa8;
    z-index: 100;
}
section h2 {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    font-size: 46px;
    color: #fff;
    position: absolute;
    top: 128px; left: -20px;
    z-index: 5;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

/* intro */
section.intro div.left div.desc,
section.intro div.right {
    background-color: #eff3f6;
    padding: 20px 30px;
}

/* intro-left */
section.intro > div.top {
    position: absolute;
    top: 40px; left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #2f557d;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: .2s all;
}
section.intro {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    padding: 0 150px;
}
section.intro div.left {
    position: relative;
    height: 100%;
    width: 500px;
}
section.intro div.left figure {
    background-color: #333;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    top: 60px;
    background: url(../img/1.png) no-repeat top -30px left 0/100%;
    position: absolute;
    z-index: 1000;
}
section.intro div.left div.name {
    position: absolute;
    top: 300px; left: 0;
    width: 400px;
    height: 400px;
}
section.intro div.left div.name div.namehighlight {
    position: relative;
    margin-bottom: 30px;
}
section.intro div.left div.name h1.name {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    font-size: 46px;
    color: #000;
    position: relative;
    z-index: 5;
}
section.intro div.left div.name span {
    position: absolute;
    background-color: #b5cde7;
    width: 500px; height: 30px;
    left: -20px; bottom: 0;
    z-index: 1;
}
section.intro div.left p.onesentence {
    font-size: 20px;
    color: #000
}
section.intro div.left div.desc {
    position: absolute;
    bottom: 10%;
    width: 400px;
    height: auto;
    margin-left: -20px;
    line-height: 1.6;
}

/* intro-right */
section.intro div.right {
    height: 290px;
    width: 550px;
    position: relative;
    bottom: 10%; right: 10%;
}
section.intro div.right div.rightleft,
section.intro div.right div.rightright {
    position: absolute;
    height: inherit;
}
section.intro div.right div.rightleft {
    left: 30px;
}
section.intro div.right div.rightright {
    right: 60px;
}
section.intro div.right p {
    line-height: 1.6;
    margin-bottom: 10px;
}
section.intro div.right p > span {
    color: #000;
    font-weight: 600;
    margin-right: 20px;
    font-size: 15px;
}
section.intro div.right ul {
    margin-bottom: 10px;
}
section.intro div.right ul li {
    line-height: 1.4;
}
section.intro div.rightleft div.down {
    position: absolute;
    bottom: 10px;
}

/* skills */
section.skills {
    display: flex;
    justify-content: center;
    align-items: start;
}
section.skills div.skills_container {
    position: relative;
    width: 900px;
}
section.skills h3 {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    color: #000;
    font-size: 24px;
    margin-bottom: 15px;
}
section.skills div.skills_area {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 900px;
    position: absolute;
    top: 250px; left: 50%;
    transform: translateX(-50%);
}
section.skills div.skillbox {
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
section.skills div.skillbox:nth-child(n+3) {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
section.skills div.quarter {
    width: 45%;
}
section.skills div.quarter > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
}
section.skills div.half {
    width: 100%;
    justify-content: space-between;
}
section.skills div.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section.skills div.img_area {
    text-align: center;
    position: relative;
}
section.skills img {
    height: 50px;
    margin: 10px;
}
section.skills div.img_area p.skill_name {
    background-color: rgba(40, 91, 145, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    border-radius: 10px;
    opacity: 0;
    transition: .2s all;
    color: #fff;
}
section.skills div.img_area:hover p.skill_name {
    opacity: 1;
}

/* webdev */
section.webdev {
    position: relative;
    left: 200px;
    height: 100%;
}
section.webdev div.webdev_content {
    width: 1000px;
    height: 100%;
}
span.timeline {
    display: block;
    width: 1px;
    height: calc(100% - 200px);
    background-color: #000;
    position: absolute;
    left: 100px; bottom: 0;
}
.vertical-wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 250px;
}
.vertical-contents {
    height: calc(100vh - 200px);
    overflow: scroll;
}
section.webdev div.icondesc {
    margin-left: 150px;
    margin-bottom: 50px;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 10px;
    width: 170px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}
section.webdev div.icondesc > div {
    display: flex;
    align-items: center;
    justify-content: start;
}
section.webdev div.icondesc > div+div {
    margin-top: 10px;
}
section.webdev div.icondesc svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
section.webdev div.webdev {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 100px;
}
section.webdev div.webdev > span {
    width: 100px;
    position: relative;
    top: 10px;
}
section.webdev div.webdev > span::after {
    content: '';
    display: block;
    width: 20px; height: 20px;
    border-radius: 20px;
    background-color: #80a8d2;
    position: absolute;
    right: -10px; 
    top: 50%; transform: translateY(-50%);
    z-index: 20;
}
section.webdev div.webdev > span::before {
    content: '';
    display: block;
    width: 10px; height: 10px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    right: -5px; 
    top: 50%; transform: translateY(-50%);
    z-index: 30;
}
section.webdev div.webdev > div.right {
    width: calc(100% - 200px);
    margin-left: 50px;
}
section.webdev div.webdev div.right div.screenshots {
    width: inherit;
    margin-bottom: 25px;
}
section.webdev div.webdev div.right div.screenshots img {
    width: inherit;
    margin-bottom: 30px;
}
section.webdev div.webdev div.right div.screenshots div.goto {
    margin: 0 auto;
    text-align: center;
}
section.webdev div.webdev div.right div.screenshots a {
    border: 1px solid #000;
    box-sizing: border-box;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    padding: 8px 15px; border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    transition: .2s all;
}
section.webdev div.webdev div.right div.screenshots a:hover {
    background-color: #80a8d293;
    color: #fff;
}
div.webdev p.desc {
    line-height: 1.6;
    margin-bottom: 25px;
    font-size: 18px;
    word-break: keep-all;
}
div.webdev div.desc {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
}
div.webdev div.desc p.title {
    font-family: 'ELAND_Nice_M', "Pretendard Variable";
    font-size: 36px;
    color:#4e7aa8;
    margin-right: 20px;
}
div.webdev div.desc span.clone {
    color: #164969;
    font-size: 20px; font-weight: 500;
    margin-left: 15px;
}
div.webdev div.desc span.available {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.webdev div.desc span.available > * {
    width: 30px; height: 30px;
}
div.webdev div.desc p.clone > span {
    margin-left: 20px;
}

/* webdesg */
section.webdesg {
    position: relative;
    height: 100%;
    left: 200px;
}